name: Build and Push to ACR

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      ACR_NAME: ${{ secrets.ACR_NAME }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build and Push via ACR Tasks
        uses: azure/cli@v1
        with:
          inlineScript: |
            cd ./src/Anirut.Evacuation.Api
            az acr build --registry $ACR_NAME --image ${{vars.APP_NAME}}:${{ github.sha }} .